{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-3">S'inscrire</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">S'inscrire</button>

        </div>
    </div>
</div>
    {{ form_end(registrationForm) }}
{% endblock %}
