<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{{ url('game') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo memory"></a>
            {% if app.user %}
                <a href="{{ url('stats') }}" class="btn btn-primary"><i class="fas fa-signal"></i> Mes statistiques</a>
                <div class="logout">
                    <p>Vous êtes connecté en tant que <strong>{{ app.user.username }}</strong></p>
                    <a class="btn btn-danger" href="{{ url('app_logout') }}">Se déconnecter <i class="fas fa-sign-out-alt"></i></a>

                </div>
            {% else %}
                <div class="logout">
                    <p>Vous n'êtes pas connecté</p>
                    <div class="btn btn-primary">Se connecter <i class="fas fa-sign-in-alt"></i></div>

                </div>
            {% endif %}

        </div>

    </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
